

#container1 {
    margin: auto;
    height: auto;
    width: auto;
    background-color: red;
}

#container2 {
    margin: auto;
    height: auto;
    width: auto;
    background-color: yellow;
}

#container3 {
    margin: auto;
    height: auto;
    width: auto;
    background-color: green;
}

#container4 {
    margin: auto;
    height: auto;
    width: auto;
    background-color: blue;