{
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background: url("img_view.jpg") no-repeat center-x;
}

#page {
    width: 800px;
    hight: 100px;
    background: #c1c1c1;
    padding: 20px;
    clear: both;
}

h1 {
    color:forestgreen
    font-size: 32px;
}

div p {
    margin: 50px;
    color: blue;
}

p ::first-line {
    color: #888888;
    font size: xx-large;
    background-color:#c1c1c1;
}

span {
    color: yellow;
    font style: italic;
}

a {
    color: red;
    text-decoration: none;
}

input[type="text"] {
    background-color:yellow;
    border: none;
    padding: 10px;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.box {
    width: 400px;
    float: left;
    display: inline;
    background-color: blue;
    color: green;
    padding: 20px;
    margin-left: 10px;
}